{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindPreserveWhitespace": true,
  "tailwindFunctions": ["clsx"],
  "tailwindPreserveDuplicates": true,
  "tailwindConfig": "./styles/tailwind.config.js"
}